.header {
    grid-area: header;
    border-bottom: solid 1px #C0C0C0;
    padding-left: 10px;
}

.header h2 {
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: rgb(62, 150, 88);
    font-size: 1.2em;
}